[workspace]
members = [
    "near-sdk",
    "near-sdk-core",
    "near-sdk-macros",
    "near-sdk-sim"
]
exclude = [
    "examples/cross-contract-high-level",
    "examples/fungible-token",
    "examples/collection-comparison",
    "examples/cross-contract-low-level",
    "examples/mission-control",
    "examples/status-message",
    "examples/status-message-collections",
]

# Special triple # comment for ci.
[patch.crates-io]
### borsh = { git = "https://github.com/near/borsh-rs", branch = "master" }
### near-vm-logic = { git = "https://github.com/near/nearcore.git", tag = "stable_wasmer_0.17.3" }
### near-runtime-fees = { git = "https://github.com/near/nearcore.git", tag = "stable_wasmer_0.17.3" }