[package]
name = "near-sdk"
version = "4.0.0-pre.9"
authors = ["Near Inc <max@nearprotocol.com>"]
edition = "2018"
license = "GPL-3.0"
readme = "README.md"
categories = ["wasm"]
repository = "https://github.com/near/near-sdk-rs"
homepage = "https://near-sdk.io"
description = """
Rust library for writing NEAR smart contracts.
"""

[[test]]
name = "compilation_tests"
path = "compilation_tests/all.rs"

[dependencies]
# Provide near_bidgen macros.
serde = { version = "1", features = ["derive"] }
serde_json = "1"
near-sdk-macros = { path = "../near-sdk-macros", version = "=4.0.0-pre.9" }
near-sys = { path = "../sys", version = "0.2" }
base64 = "0.13"
borsh = "0.9"
bs58 = "0.4"
# Export dependencies for contracts
wee_alloc = { version = "0.4.5", default-features = false, optional = true }

# Used for caching, might be worth porting only functionality needed.
once_cell = { version = "1.8", optional = true, default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
near-vm-logic = "0.13"
near-primitives-core = "0.13"
near-primitives = "0.13"
near-crypto = "0.13"

[dev-dependencies]
rand = "0.8.4"
trybuild = "1.0"
rustversion = "1.0"
rand_xorshift = "0.3"
quickcheck = "1.0"
arbitrary = { version = "1.0", features = ["derive"] }
hex = { version = "0.4.3", features = ["serde"] }

[features]
default = ["wee_alloc"]
expensive-debug = []
unstable = ["once_cell"]
