[package]
name = "factory-contract-wrapper"
version = "0.1.0"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2021"

[dev-dependencies]
anyhow = "1.0"
near-sdk = { version = "4.1.1"}
near-units = "0.2.0"
serde_json = "1.0"
test-case = "2.0"
tokio = { version = "1.14", features = ["full"] }
near-workspaces = { version = "0.8.0" }
near-token = { version = "0.1.0", features = ["serde", "borsh", "schemars"] }

factory-contract-high-level = { path = "./high-level" }
factory-contract-low-level = { path = "./low-level" }

[patch.crates-io]
near-sdk = { path = "../../near-sdk" }


[profile.release]
codegen-units = 1
# Tell `rustc` to optimize for small code size.
opt-level = "z"
lto = true
debug = false
panic = "abort"

[workspace]
members = [
  "high-level",
  "low-level",
]
