name: Coverage
on:
  push:
    branches:
      - master
  pull_request:
env:
  RUSTFLAGS: "-D warnings"

jobs:
  coverage:
    runs-on: warp-ubuntu-latest-x64-4x
    name: "Code Coverage"
    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm lld

      - name: Install Rust 1.86 with rust-src component
        run: |
          rustup toolchain install 1.86 --profile minimal --target wasm32-unknown-unknown
          rustup override set 1.86
          rustup component add rust-src --toolchain 1.86

      - name: Install cargo-llvm-cov and nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov,nextest

      - uses: Swatinem/rust-cache@v2
        with:
          cache-provider: warpbuild
          shared-key: "linux-1.86-coverage"
          cache-all-crates: true

      - name: Install cargo-near CLI
        run: curl --proto '=https' --tlsv1.2 -LsSf https://github.com/near/cargo-near/releases/download/cargo-near-v0.17.0/cargo-near-installer.sh | sh

      - name: Llvm version
        run: llvm-config --version

      - name: Clang version
        run: clang --version

      - name: Rust version
        run: rustc --version --verbose

      - name: Generate code coverage with nextest
        run: cargo llvm-cov nextest --all-features --profile ci --lcov --output-path llvm-cov-output.lcov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          files: ./llvm-cov-output.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
