name: Test Core
on:
  push:
    branches:
      - master
  pull_request:
env:
  RUSTFLAGS: -D warnings
jobs:
  test:
    runs-on: ${{ matrix.platform }}
    name: "${{ matrix.platform }} ${{ matrix.toolchain }}"
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        toolchain: [stable, 1.69.0]
    steps:
      - uses: actions/checkout@v3
      - name: "${{ matrix.toolchain }} with rustfmt, and wasm32"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          default: true
          target: wasm32-unknown-unknown
      - name: downgrade `anstyle`,`anstyle-parse`,`anstyle-query`,`clap`,`clap_lex` crates to support older Rust toolchain
        if: matrix.toolchain == '1.69.0' 
        run: |
          cargo update -p anstyle --precise 1.0.2
          cargo update -p anstyle-parse --precise 0.2.1
          cargo update -p clap --precise 4.3.24
          cargo update -p clap_lex --precise 0.5.0
      - uses: Swatinem/rust-cache@v1
      - name: Test
        run: cargo test --all --features unstable,legacy
  lint:
    name: Clippy and fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v1
      - name: Test Format
        run: cargo fmt -- --check
      - run: cargo clippy --tests --all-features -- -Dclippy::all
  windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: "Setup Windows toolchain"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true
      - uses: Swatinem/rust-cache@v1
      - run: cargo check -p near-sdk --features unstable,legacy
      - run: cargo check -p near-sdk --no-default-features
      - run: cargo check -p near-sdk --no-default-features --features legacy
      - run: cargo check -p near-sdk --no-default-features --features unstable
      - run: cargo check -p near-contract-standards
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v3
      - name: Install Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          default: true
      - uses: Swatinem/rust-cache@v1
      - name: Install Audit
        run: cargo install cargo-audit
      - name: Run Audit
        run:  cargo audit
