name: Test Small Examples
on:
  push:
    branches:
      - master
  pull_request:
env:
  RUSTFLAGS: -D warnings
jobs:
  test:
    runs-on: ${{ matrix.platform }}
    name: "${{ matrix.example }} - ${{ matrix.platform }}"
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]
        toolchain: [stable]
        example: [
          lockable-fungible-token,
          status-message,
          mission-control,
          test-contract,
        ]
    steps:
      - uses: actions/checkout@v4
      - name: "${{ matrix.toolchain }} with rustfmt, clippy, and wasm32"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          target: wasm32-unknown-unknown
      - name: Install cargo-near CLI (dependency for build with near-workspaces)
        run: curl --proto '=https' --tlsv1.2 -LsSf https://github.com/near/cargo-near/releases/download/cargo-near-v0.14.0/cargo-near-installer.sh | sh
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "./examples/${{ matrix.example }} -> target"
      - name: Test
        run: cargo +${{ matrix.toolchain }} test  --manifest-path=./examples/${{ matrix.example }}/Cargo.toml --workspace
